.header__logo{
    display: flex;
    align-items: start;
    justify-content: center;
}
#header-cuadrado{
  margin: 0 7px;
  width: 5px;
  height: 5px;
  transform: rotateZ(45deg);
  border: 2px solid black;
  background-color:  #ffd6e9;
  display: inline-block;
  border-radius: 1px;
 
}

.icono-colgante {
  position: relative; 
  width: 40px;  
  height: 60px; 

}


.escudo-superior, .circulo-inferior, .diamante-rosa {
  border: 2px solid #333; 
}


.linea-conector {
  position: absolute;
  width: 2px; 
  height: 35px; 
  background-color: #333;
  top: 14px; 
  left: 50%; 
  transform: translateX(-50%);
  z-index: 1; 
}

.escudo-superior {
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #cffafe; 

  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1; 
  

  display: flex;
  justify-content: center;
  align-items: center;
}


.diamante-rosa {
  width: 5px;
  height: 5px;
  background-color: #ffd6e9; 
  transform: rotate(45deg); 
  margin-top: -2px; 
}


.circulo-inferior {
  position: absolute;
  width: 13px;
  height: 13px;
  background-color: #fcd34d; 
  border-radius: 50%;
  bottom: 0; 
  left: 50%;
  transform: translateX(-50%);
  z-index: 2; 
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header__input{
    margin-top: 20px;
}
.input-container input:focus {
    outline: none; 
}
.input-container{
    display: flex;
    border-radius: 10px;
    border: 2px solid #333;
    width: 700px;
    box-shadow: #000000 4px 4px 1px;
    transition: 0.5s;
    
}
input::placeholder {
  font-size: 16px; 
}
#add-button{
    text-decoration: none;
    color: #333;
    background-color: #ffd6e9;
    border: none;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: #333 2px solid;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    
}
input{
    border: none;
    width: 600px;
    height: 60px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    
    padding-left: 10px;

} 

.input-container:has(input:hover){
  box-shadow:none;
  transition: 0.5s;
}
